:root {
  --color-primary: #0e3255;
  --color-secondary: #587db2;
  --color-accent: #e0923f;
  --color-black: #252b42;
  --color-white: #ffffff;
  --color-gray: #737373;
  --color-light-gray: #ced4da;
  --border-radius: 5px;
  --text-small: 1.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*
Font Sizes:
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44
  52 / 62 / 74 / 86 / 98 


--- 02 COLORS

--- 05 SHADOWS

--- 06 BORDER-RADIUS

--- 07 WHITESPACE

Spacing
2 4 8 16 32 48 64 80 96 128
*/

html {
  font-size: 62.5%;
}

body {
  font-family: "Overpass", sans-serif;
  line-height: 1.5;
  /* background: #263238; */
  background: #fff;
}

h1 {
  font-size: 5.202rem;
}

h2 {
  font-size: 4.11rem;
}

h3 {
  font-size: 2.887rem;
}

p {
  font-size: 1.802rem;
}

/* Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

/* Grid */
.grid {
  display: grid;
  align-items: center;
  gap: 2rem;
}

/* Section */
section {
  padding: 8rem 0;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Logo */
.logo {
  border: 2px solid var(--color-white);
  color: var(--color-white);
  display: inline-block;
  font-size: 1.802rem;
  padding: 0 1rem;
  border-radius: var(--border-radius);
  white-space: nowrap;
}

/* Button */
.btn {
  border-radius: var(--border-radius);
  border: 0;
  color: var(--color-white);
  cursor: pointer;
  display: block;
  font-size: var(--text-small);
  font-weight: bold;
  letter-spacing: 2px;
  padding: 1.2rem 2.5rem;
  text-decoration: none;
  transition: 0.3s;
  line-height: 1;
}

.btn--accent {
  background: var(--color-accent);
}

.btn--accent:hover {
  background: #ad6921;
}

.btn--secondary {
  background: var(--color-secondary);
}

.btn--accent.btn--outline {
  border: 1px solid var(--color-accent);
  background: transparent;
}

.btn--secondary.btn--outline {
  border: 1px solid var(--color-secondary);
  background: transparent;
}

.btn--secondary.btn--outline:hover {
  border: 1px solid var(--color-secondary);
  background: var(--color-secondary);
}

.btn--uppercase {
  text-transform: uppercase;
}

/* Icon */
.icon {
  height: 24px;
  width: 24px;
}

.icon-container {
  background: var(--color-secondary);
  display: inline-flex;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
}

.link-arrow {
  align-items: center;
  color: var(--color-accent);
  display: inline-flex;
  font-size: var(--text-small);
  justify-content: center;
  text-decoration: none;
}

.link-arrow__icon {
  height: 18px;
  width: 18px;
  transition: 0.3s;
}

.link-arrow:hover .link-arrow__icon {
  margin-left: 0.3rem;
}

/* List */
.list {
  font-size: var(--text-small);
}

.list__item {
  align-items: center;
  display: flex;
  margin-bottom: 1rem;
}

.list__item .icon {
  margin-right: 0.5rem;
  color: var(--color-secondary);
}

/* Heading */
.heading {
  margin-bottom: 4rem;
}
.heading__subtitle {
  color: var(--color-accent);
  font-size: var(--text-small);
  font-weight: bold;
  text-transform: uppercase;
}

.heading__description {
  color: var(--color-gray);
}

/* Footer */
.footer {
  background: #212529;
  color: var(--color-white);
  font-size: var(--text-small);
  padding-top: 4rem;
}

.footer__brand {
  text-align: center;
  grid-column: span 2;
  order: 2;
}

.footer .logo {
  background: var(--color-primary);
}

.footer__sections {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.footer .list__item a {
  color: var(--color-gray);
  transition: 0.3s;
}

.footer .list__item a:hover {
  color: var(--color-white);
}

.footer__heading {
  font-size: 1.424rem;
  margin-bottom: 1rem;
}

.footer a {
  text-decoration: none;
  color: var(--color-white);
  display: flex;
  align-items: center;
}

.footer a .icon {
  margin-right: 0.5rem;
  height: 20px;
  width: 20px;
}

.footer__bottom {
  background: #2b2c2d;
  margin-top: 2rem;
  padding: 2rem;
}

.footer__bottom .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__copyright {
  color: var(--color-gray);
  font-size: var(--text-small);
}

.footer__socials {
  display: flex;
  gap: 0 1rem;
}

.footer__socials .icon {
  fill: var(--color-gray);
  transition: 0.3s;
}

.footer__socials .icon:hover {
  fill: var(--color-secondary);
}

@media screen and (min-width: 768px) {
  .footer__sections {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }

  .footer__brand {
    grid-column: span 1;
    order: -1;
    text-align: left;
  }
}

/* Card */
.card {
  background: var(--color-white);
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  display: flex;
  flex-direction: column;
  padding: 2rem;
  max-width: 500px;
  gap: 2rem;
}

.card__title {
  font-size: 2.4rem;
}

.card__description {
  font-size: var(--text-small);
  color: var(--color-gray);
}

.card__price {
  font-size: 4rem;
  color: var(--color-secondary);
  display: block;
  font-weight: bold;
}

.card__hour {
  display: block;
  color: var(--color-gray);
  margin-top: -1rem;
  font-size: 1.5rem;
  font-size: var(--text-small);
}

/* Nav */
.nav {
  background: #0b253e;
  display: fixed;
  font-size: var(--text-small);
  left: 0;
  padding: 1.5rem 0;
  text-align: center;
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 99;
}

.nav.active .nav__list {
  display: flex;
}

.nav.active .nav__btn {
  display: block;
}

.nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav__toggler {
  color: white;
  cursor: pointer;
}

.nav__list {
  display: none;
  flex-direction: column;
  gap: 4rem;
  list-style: none;
  margin-bottom: 4rem;
  margin-top: 6rem;
  width: 100%;
}

.nav__item a {
  color: var(--color-light-gray);
  text-decoration: none;
  transition: 0.3s;
}

.nav__item a:hover {
  color: var(--color-white);
}

.nav__btn {
  display: none;
  margin: 0 auto;
  margin-bottom: 4rem;
}

@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }

  .nav__list {
    all: unset;
    list-style: none;
    display: flex;
    gap: 4rem;
  }

  .nav__btn {
    display: block;
    margin: 0;
  }
}

.card--benefit .icon {
  height: 72px;
  width: 72px;
}

/* Feature */
.feature__icon {
  justify-self: start;
  height: 40rem;
  width: 100%;
}

.feature__content {
  justify-self: end;
}

.feature__title {
  margin-bottom: 2rem;
}

.feature__title::before {
  content: "";
  display: block;
  width: 94px;
  height: 7px;
  background: var(--color-accent);
  margin-bottom: 35px;
}

.feature__description {
  color: var(--color-gray);
  margin-bottom: 2rem;
}

.feature .link-arrow {
  font-weight: bold;
}

/* Hero Section */
.hero {
  background: var(--color-primary);
  color: var(--color-white);
  padding: 20vh 0;
  margin: 2rem 0;
}

.hero__content {
  text-align: center;
  height: 100%;
}

.hero__heading {
  line-height: 1.1;
  margin-bottom: 2rem;
}

.hero__tagline {
  margin-bottom: 2rem;
  color: var(--color-light-gray);
}

.hero__buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.hero__image {
  display: none;
}

@media screen and (min-width: 768px) {
  .hero {
    /* height: 90vh; */
  }
  .hero__content {
    text-align: left;
  }

  .hero__tagline {
    width: 45rem;
  }

  .hero__buttons {
    justify-content: flex-start;
  }

  .hero__image {
    display: block;
    width: 100%;
    height: 150%;
    resize: both;
  }

  .hero__image svg {
    height: 100%;
    width: 100%;
  }
}

/* Benefits */
.benefits__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  justify-items: center;
}

.benefits .icon {
  height: 72px;
  width: 72px;
}

.benefits .card__title {
  font-size: 1.6rem;
  font-weight: 900;
}

.benefits .card__title::after {
  content: "";
  display: block;
  height: 2px;
  width: 50px;
  margin-top: 2rem;
  background: var(--color-accent);
}

.benefits .card__description {
  color: var(--color-gray);
}

@media screen and (min-width: 1200px) {
  .benefits__cards {
    grid-template-columns: repeat(5, 1fr);
  }
}

/* Features */
.features {
  padding-top: 0;
}

.feature__icon {
  transform: translateY(10%);
}

.feature:nth-child(3) .feature__icon {
  transform: translateY(15%);
}

@media screen and (min-width: 768px) {
  .feature:nth-child(even) .feature__content {
    order: -1;
  }

  .feature:nth-child(1) .feature__icon {
    transform: translateY(0);
  }

  .feature:nth-child(2) .feature__icon {
    transform: translateY(0);
    height: 400px;
  }

  .feature:nth-child(3) .feature__icon {
    transform: translateY(0);
    height: 50rem;
  }
}

/* Pricing */
.pricing {
  background: var(--color-primary);
}

.pricing .heading__title {
  color: white;
}

.heading__description {
  color: var(--color-light-gray);
}

.pricing__cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
  justify-items: center;
}

.pricing .card {
  padding: 4rem;
}

.pricing .card__description {
  margin-top: -2rem;
  margin-bottom: 2rem;
}

.pricing .card__price {
}

.pricing .btn {
  margin-bottom: 2rem;
}

.pricing .list {
  color: var(--color-gray);
}

.pricing .list__item {
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .pricing__cards {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}
