<div class="feature">
  <div class="container grid grid--1x2">
    <svg class="icon feature__icon">
      <use xlink:href="../assets/sprite.svg#individuals"></use>
    </svg>

    <div class="feature__content">
      <h3 class="feature__title">Individuals</h3>
      <p class="feature__description">
        1-on-1 mindfulness training can be helpful for people who want
        personalized instruction and support in learning mindfulness, or for
        those who may have difficulty practicing mindfulness in group settings.
      </p>
      <a href="#" class="link-arrow"
        >Learn More
        <svg
          class="link-arrow__icon"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M8.25 4.5l7.5 7.5-7.5 7.5"
          />
        </svg>
      </a>
    </div>
  </div>
</div>
