<section class="hero">
  <div class="container grid grid--1x2">
    <div class="hero__content">
      <h1 class="hero__heading">Positive well-being through mindfulness</h1>
      <p class="hero__tagline">
        Learn effective mindfulness techniques to become calmer, happier, and
        more focused in daily life.
      </p>
      <div class="hero__buttons">
        <button class="btn btn--accent">Get Started</button>
        <button class="btn btn--accent btn--outline">Learn More</button>
      </div>
    </div>
    <svg class="hero__image">
      <use xlink:href="../assets/sprite.svg#hero"></use>
    </svg>
  </div>
</section>
