<nav class="nav">
  <div class="container">
    <a href="#" class="nav__brand">
      <span class="logo">mindful street</span>
    </a>

    <svg
      class="icon nav__toggler"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-6 h-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
      />
    </svg>

    <ul class="nav__list">
      <li class="nav__item"><a href="#">Home</a></li>
      <li class="nav__item"><a href="#">Workshops</a></li>
      <li class="nav__item"><a href="#">Pricing</a></li>
      <li class="nav__item"><a href="#">About</a></li>
    </ul>

    <a href="#" class="btn btn--secondary nav__btn">Contact US</a>
  </div>
</nav>
