<div class="testimonial">
  <p class="testimonial__text">
    Through the training, I learned valuable skills for managing stress and
    anxiety, and for staying present and focused in my daily life. I would
    highly recommend Mindful Street to anyone looking to improve their mental
    health and well-being.
  </p>
  <div class="testimonial__author">
    <img class="testimonial__photo" src="./assets/glad.jpg" alt="" />
    <div>
      <p class="testimonial__name">Glad</p>
      <p class="testimonial__position">Sales Representative - Coca-Cola</p>
    </div>
  </div>
</div>
