:root {
  --color-primary: #263238;
  --color-secondary: #587db2;
  --color-accent: #e0923f;
  --color-black: #252b42;
  --color-white: #ffffff;
  --color-gray: #737373;
  --border-radius: 5px;
  --text-small: 1.25rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*
Font Sizes:
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44
  52 / 62 / 74 / 86 / 98 


--- 02 COLORS

--- 05 SHADOWS

--- 06 BORDER-RADIUS

--- 07 WHITESPACE

Spacing
2 4 8 16 32 48 64 80 96 128
*/

html {
  font-size: 62.5%;
}

body {
  font-family: "Overpass", sans-serif;
  line-height: 1.5;
  background: var(--color-primary);
}

h1 {
  font-size: 5.852rem;
}

h2 {
  font-size: 4.11rem;
}

h3 {
  font-size: 2.887rem;
}

p {
  font-size: 1.802rem;
}

/* Logo */
.logo {
  border: 2px solid var(--color-white);
  color: var(--color-white);
  display: inline-block;
  font-size: 1.802rem;
  padding: 0 1rem;
  border-radius: var(--border-radius);
}

/* Button */
.btn {
  border-radius: var(--border-radius);
  border: 0;
  color: var(--color-white);
  cursor: pointer;
  font-size: var(--text-small);
  font-weight: bold;
  padding: 1rem 2.5rem;
  text-decoration: none;
}

.btn--accent {
  background: var(--color-accent);
}

.btn--accent.btn--outline {
  border: 1px solid var(--color-accent);
  background: transparent;
}

.btn--uppercase {
  text-transform: uppercase;
}

/* Icon */
.icon {
  height: 24px;
  width: 24px;
}

.icon-container {
  background: var(--color-secondary);
  display: inline-flex;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
}

.link-arrow {
  align-items: center;
  color: var(--color-accent);
  display: inline-flex;
  font-size: var(--text-small);
  justify-content: center;
  text-decoration: none;
}

.link-arrow .icon {
  height: 18px;
  width: 18px;
  transition: 0.3s;
}

.link-arrow:hover .icon {
  margin-left: 0.3rem;
}
